<div class="well">
    <div class="panel-heading">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group"></div>
                <div class="input-group">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Busca videos!</button>
                  </span>
                </div>
            </div>

        </div>
    <div class="panel-body">
        <div id="player" class="jp-jplayer"></div>
    </div>
</div>                