<div id="top-bar" class="container-fluid">
    <div class="row-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li class="player-button"><!--player-button-->
                    <button type="button"><span class="glyphicon glyphicon-play"></span> </button>
                </li>
                <li class="player-button"><!--player-button-->
                   <button  type="button"><span class="glyphicon glyphicon-chevron-left"></span> </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-fixed-top">
            <li class="player-slider"><!--player-slider-->
               <div class="row-fluid"><div><p class="text-center">cancion</p></div></div>
               <div class="row-fluid"><div class="slider"></div></div>
            </li>
            </ul>    
            <ul class="nav navbar-nav navbar-right">            
                <li class="player-button"><!--player-button-->
                   <button type="button"><span class="glyphicon glyphicon-chevron-right"></span> </button>
                </li>
                <li class="player-button player-volume"><!--player-button-->
                   <input type="text" id="dial" data-width="60" data-min="0" data-max="100">
                   <div class="volume-background"><span class="glyphicon glyphicon-volume-up"></span></div>
                </li>
            </ul>
    </div>
</div>
