<div id="player" class="jp-jplayer"></div>
<div id="top-bar" class="container-fluid jp-audio">
    <div class="jp-type-single">
        <div id="controls" class="jp-gui jp-interface">
            <ul class="jp-controls">
                <li><a id="play" tabindex="1" class="jp-play" href="javascript:;">play</a></li>
                <li><a id="pause" tabindex="1" class="jp-pause" href="javascript:;" style="display: none;">pause</a></li>
                <li><a id="stop" tabindex="1" class="jp-stop" href="javascript:;">stop</a></li>
                <li style="padding-top: 11px;"><div id="current-time" class="jp-current-time">00:00</div></li>
                <li style=" display: block; padding-top: 20px; height: 10px; width: 75%"><div class="jp-progress">
                    <div id="seek-bar" class="jp-seek-bar">
                        <div id="play-bar" class="jp-play-bar" style="overflow: hidden; width: 0%;"></div>
                    </div>
                </div></li>
                <li style="padding-top: 11px;width: 60px"><div id="duration" class="jp-duration">-03:29</div></li>
                <li ><a style="margin-left: 10px" id="unmute" tabindex="1" class="jp-unmute" href="javascript:;" style="display: none;">unmute</a></li>
                <li><a style="margin-left: 10px" id="mute" tabindex="1" class="jp-mute" href="javascript:;">mute</a></li>
                <li><div id="volume-bar" class="jp-volume-bar">
                    <div id="volume-bar-value" class="jp-volume-bar-value" style="width: 80%;"></div>
                </div></li>
            </ul>
            </div>
        </div>
    </div>
</div>
