    <div class="x-menu x-menu-floating x-layer x-hide-offsets" id="ext-comp-1022" style="position: absolute; z-index: 15000; visibility: hidden; left: -10000px; top: -10000px;">
        <a class="x-menu-focus" href="#" id="ext-gen213" onclick="return false;" tabindex="-1"></a>

        <ul class="x-menu-list" id="ext-gen214" style="height: 192px;">
            <li class="x-menu-list-item" id="x-menu-el-ext-comp-1023">
                <a class="x-menu-item" href="#" id="ext-comp-1023">
                    <img class="x-menu-item-icon" id="ext-gen216" src="ext/resources/images/default/s.gif" /><span class="x-menu-item-text" id="ext-gen217">Ambience</span>
                </a>
            </li>

            <li class="x-menu-list-item" id="x-menu-el-ext-comp-1024">
                <a class="x-menu-item" href="#" id="ext-comp-1024">
                    <img class="x-menu-item-icon" id="ext-gen218" src="ext/resources/images/default/s.gif" /><span class="x-menu-item-text" id="ext-gen219">Blue</span>
                </a>
            </li>

            <li class="x-menu-list-item" id="x-menu-el-ext-comp-1025">
                <a class="x-menu-item" href="#" id="ext-comp-1025">
                    <img class="x-menu-item-icon" id="ext-gen220" src="ext/resources/images/default/s.gif" /><span class="x-menu-item-text" id="ext-gen221">Dark (dcs)</span>
                </a>
            </li>

            <li class="x-menu-list-item" id="x-menu-el-ext-comp-1026">
                <a class="x-menu-item" href="#" id="ext-comp-1026">
                    <img class="x-menu-item-icon" id="ext-gen222" src="ext/resources/images/default/s.gif" /><span class="x-menu-item-text" id="ext-gen223">Gray</span>
                </a>
            </li>

            <li class="x-menu-list-item" id="x-menu-el-ext-comp-1027">
                <a class="x-menu-item" href="#" id="ext-comp-1027">
                    <img class="x-menu-item-icon" id="ext-gen224" src="ext/resources/images/default/s.gif" /><span class="x-menu-item-text" id="ext-gen225">Gray Extend</span>
                </a>
            </li>

            <li class="x-menu-list-item" id="x-menu-el-ext-comp-1028">
                <a class="x-menu-item" href="#" id="ext-comp-1028">
                    <img class="x-menu-item-icon" id="ext-gen226" src="ext/resources/images/default/s.gif" /><span class="x-menu-item-text" id="ext-gen227">Human</span>
                </a>
            </li>

            <li class="x-menu-list-item" id="x-menu-el-ext-comp-1029">
                <a class="x-menu-item" href="#" id="ext-comp-1029">
                    <img class="x-menu-item-icon" id="ext-gen228" src="ext/resources/images/default/s.gif" /><span class="x-menu-item-text" id="ext-gen229">Slate</span>
                </a>
            </li>

            <li class="x-menu-list-item" id="x-menu-el-ext-comp-1030">
                <a class="x-menu-item" href="#" id="ext-comp-1030">
                    <img class="x-menu-item-icon" id="ext-gen230" src="ext/resources/images/default/s.gif" /><span class="x-menu-item-text" id="ext-gen231">TargetProcess</span>
                </a>
            </li>
        </ul>
    </div>
