<div class="well">
    <div class="panel-heading">
        <h3 class="panel-title">
            <div class="inner-addon">
                <a href="javascript:;" id="do-library-filter"><span class="left glyphicon glyphicon-filter" style="font-size: 15px"></span></a>
                <input id="library-filter" type="text" class="form-control" placeholder="Busca tu musica">
                <a href="javascript:;" id="clear-library-filter"><span class="right glyphicon glyphicon-remove" style="font-size: 15px"></span></a>
            </div>
        </h3>
    </div>
    <div id="library" class="panel-body"></div>
    <div class="panel-footer">
        
    </div>
</div>    