<div class="well">
    <div class="panel-heading"><h3 class="panel-title">Panel title</h3></div>
    <div id="library" class="panel-body"></div>
    <div class="panel-footer">Panel footer</div>
</div>    