<div class="well">
    <div class="panel-heading"><h3 class="panel-title">Playlist</h3></div>
    <div id="playlist" class="panel-body droppable">
        <!--<div class="list-group ">
            <a href="#" class="list-group-item active">
              <h4 class="list-group-item-heading ">List group item heading</h4>
              <p class="list-group-item-text ">Contenido del elemento del </p>
            </a>
        </div>-->
        

    </div>
    <div class="panel-footer">Panel footer</div>
</div>   