    <div class=" x-toolbar x-border-panel x-box-layout-ct" id="mpd-controls" style="height: 57px; left: 0px; top: 0px; width: 2033px;">
        <div class="x-box-inner" id="ext-gen32" style="width: 2033px; height: 62px;">
            <div class=" x-box-item" id="ext-comp-1036" style="height: 62px; width: 1843px; left: 0px; top: 0px;">
                <div class="x-slider x-slider-vert x-abs-layout-item" id="sldrVolume" style="height: 43px; left: 6px; top: 4px;">
                    <div class="x-slider-end" id="ext-gen35">
                        <div class="x-slider-inner" id="ext-gen36" style="height: 36px;">
                            <div class="x-slider-thumb" id="ext-gen38" style="bottom: 9.92px; z-index: 10000;"></div>
                            <a class="x-slider-focus" href="#" id="ext-gen37" tabindex="-1"></a>
                        </div>
                    </div>
                </div>

                <table cellspacing="0" class="x-btn x-btn-icon x-abs-layout-item" id="ext-comp-1037" style="width: 48px; height: 26px; left: 33px; top: 14px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">&nbsp;</td>
                            <td class="x-btn-tc"></td>
                            <td class="x-btn-tr" style="font-style: italic">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">&nbsp;</td>
                            <td class="x-btn-mc">
                                <em class="">
                                        <button class=" x-btn-text icon-previous" id="ext-gen39" type="button">
                                            <em class="">&nbsp;</em>
                                </button>
                                </em>
                            </td>
                            <td class="x-btn-mr" style="font-style: italic">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">&nbsp;</td>
                            <td class="x-btn-bc"></td>
                            <td class="x-btn-br" style="font-style: italic">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <div class="x-abs-layout-item x-box-layout-ct x-hide-display" id="btnStopPause" style="width: 48px; height: 58px; left: 83px; top: 6px;">
                    <div class="x-box-inner" id="ext-gen197" style="">
                        <table cellspacing="0" class="x-btn x-btn-icon x-box-item" id="btnPause" style="width: 48px; left: 0px; top: 0px;">
                            <tbody class="x-btn-small x-btn-icon-small-left">
                                <tr>
                                    <td class="x-btn-tl" style="font-style: italic">&nbsp;</td>
                                    <td class="x-btn-tc"></td>
                                    <td class="x-btn-tr" style="font-style: italic">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="x-btn-ml" style="font-style: italic">&nbsp;</td>
                                    <td class="x-btn-mc">
                                        <em class="">
                                                <button class=" x-btn-text icon-pause"id="ext-gen198" type="button">
                                                    <em class="">&nbsp;</em>
                                        </button>
                                        </em>
                                    </td>
                                    <td class="x-btn-mr" style="font-style: italic">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="x-btn-bl" style="font-style: italic">&nbsp;</td>
                                    <td class="x-btn-bc"></td>
                                    <td class="x-btn-br" style="font-style: italic">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" class="x-btn x-btn-icon x-box-item" id="btnStop" style="width: 48px; left: 0px; top: 22px;">
                            <tbody class="x-btn-small x-btn-icon-small-left">
                                <tr>
                                    <td class="x-btn-tl" style="font-style: italic">&nbsp;</td>
                                    <td class="x-btn-tc"></td>
                                    <td class="x-btn-tr" style="font-style: italic">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="x-btn-ml" style="font-style: italic">&nbsp;</td>
                                    <td class="x-btn-mc">
                                        <em class="">
                                                <button class=" x-btn-text icon-stop" id="ext-gen199" type="button">
                                                    <em class="">&nbsp;</em>
                                        </button>
                                        </em>
                                    </td>
                                    <td class="x-btn-mr" style="font-style: italic">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="x-btn-bl" style="font-style: italic">&nbsp;</td>
                                    <td class="x-btn-bc"></td>
                                    <td class="x-btn-br" style="font-style: italic">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <table cellspacing="0" class="x-btn x-btn-icon x-abs-layout-item" id="btnPlay" style="width: 48px; height: 48px; left: 83px; top: 4px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-tc"></td>

                            <td class="x-btn-tr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-mc"><em class=""><button class=
                                                                          " x-btn-text icon-play" id="ext-gen41" type=
                                                                          "button"><em class=
                            "">&nbsp;</em>
                                </button>
                                </em>
                            </td>

                            <td class="x-btn-mr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-bc"></td>

                            <td class="x-btn-br" style="font-style: italic">
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <table cellspacing="0" class="x-btn x-btn-icon x-abs-layout-item" id="ext-comp-1038" style="width: 48px; height: 26px; left: 134px; top: 14px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-tc"></td>

                            <td class="x-btn-tr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-mc"><em class=""><button class=
                                                                          " x-btn-text icon-next" id="ext-gen42" type=
                                                                          "button"><em class=
                            "">&nbsp;</em>
                                </button>
                                </em>
                            </td>

                            <td class="x-btn-mr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-bc"></td>

                            <td class="x-btn-br" style="font-style: italic">
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <table cellspacing="0" class="x-btn x-btn-text-icon x-abs-layout-item" id="ext-comp-1020" style="width: auto; left: 190px; top: 4px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-tc"></td>

                            <td class="x-btn-tr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-mc"><em class=""><button class=
                                                                          " x-btn-text icon-repeat" id="ext-gen43" type=
                                                                          "button"><em class=
                            "">Repeat</em>
                                </button>
                                </em>
                            </td>

                            <td class="x-btn-mr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-bc"></td>

                            <td class="x-btn-br" style="font-style: italic">
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <table cellspacing="0" class="x-btn x-btn-text-icon x-abs-layout-item" id="ext-comp-1021" style="width: auto; left: 190px; top: 30px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-tc"></td>

                            <td class="x-btn-tr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-mc"><em class=""><button class=
                                                                          " x-btn-text icon-random" id="ext-gen44" type=
                                                                          "button"><em class=
                            "">Random</em>
                                </button>
                                </em>
                            </td>

                            <td class="x-btn-mr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-bc"></td>

                            <td class="x-btn-br" style="font-style: italic">
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <label class=" x-abs-layout-item" id="txtCurrentSong" style="height: 26px; left: 275px; top: 2px; width: 1568px;"></label>

                <div style="font-size:11px;cursor:pointer">
                    <label class=" x-abs-layout-item" id="txtCurrentSong" style="height: 26px; left: 275px; top: 2px; width: 1568px;">
                        <b id="txtTitle" style="font-size:14px">Unknown</b>
                        <br />by <i id="txtArtist">Unknown</i> from <span id="txtAlbum">Unknown</span>
                    </label>
                </div>

                <div class="x-progress-wrap x-abs-layout-item x-hide-display" id="pbarTime" style="height: 16px; left: 275px; top: 34px; width: 1547px;">
                    <div class="x-progress-inner">
                        <div class="x-progress-bar" id="ext-gen46" style="height: 16px; width: 322px;">
                            <div class="x-progress-text" id="ext-gen47" style="z-index: 99; width: 313px;">
                                <div id="ext-gen49" style="width: 1547px; height: 18px;">
                                    0:00 / 0:00
                                </div>
                            </div>
                        </div>

                        <div class="x-progress-text x-progress-text-back" id="ext-gen48">
                            <div id="ext-gen50" style="width: 1547px; height: 18px;">
                                0:00 / 0:00
                            </div>
                        </div>
                    </div>
                </div>

                <div class="x-slider x-slider-horz x-abs-layout-item" id="sliderTime" style="left: 275px; top: 33px; width: 1542px;">
                    <div class="x-slider-end" id="ext-gen51">
                        <div class="x-slider-inner" id="ext-gen52" style="width: 1535px;">
                            <div class="x-slider-thumb" id="ext-gen54" style="left: 314.122px;"></div>
                            <a class="x-slider-focus" href="#" id="ext-gen53" tabindex="-1"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" x-box-item" id="ext-comp-1035" style="width: 190px; height: 62px; left: 1843px; top: 0px;">
                <table cellspacing="0" class="x-btn x-toolbar-standardbutton x-btn-noicon x-abs-layout-item" id="ext-comp-1031" style="width: 140px; left: 10px; top: 4px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">&nbsp;</td>
                            <td class="x-btn-tc"></td>
                            <td class="x-btn-tr" style="font-style: italic">&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">&nbsp;</td>
                            <td class="x-btn-mc">
                                <em class="x-btn-arrow">
                                        <button class=" x-btn-text" id="ext-gen200" type="button">
                                            <em class="x-btn-arrow">Theme Chooser</em>
                                </button>
                                </em>
                            </td>
                            <td class="x-btn-mr" style="font-style: italic">&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-bc"></td>

                            <td class="x-btn-br" style="font-style: italic">
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <div class="x-form-field-wrap x-form-field-trigger-wrap x-abs-layout-item" id="ext-gen201" style="width: 140px; left: 10px; top: 32px;">
                    <input autocomplete="off" class="x-form-text x-form-field x-form-empty-field" id="ext-comp-1032" name="ext-comp-1032" size="16" style="width: 115px;" type="text" /><span class="x-form-twin-triggers" id="ext-gen202"><img class=
                                                                    "x-form-trigger x-form-clear-trigger" id="ext-gen203" src=
                                                                    "ext/resources/images/default/s.gif" style=
                                                                    "display: none;" /><img class=
                                                                    "x-form-trigger x-form-search-trigger" id="ext-gen204" src=
                                                                    "ext/resources/images/default/s.gif" /></span>
                </div>

                <table cellspacing="0" class="x-btn x-btn-icon x-abs-layout-item" id="ext-comp-1033" style="left: 155px; top: 1px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-tc"></td>

                            <td class="x-btn-tr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-mc"><em class=""><button class=
                                                                          " x-btn-text icon-about" id="ext-gen205" type=
                                                                          "button"><em class=
                            "">&nbsp;</em>
                                </button>
                                </em>
                            </td>

                            <td class="x-btn-mr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-bc"></td>

                            <td class="x-btn-br" style="font-style: italic">
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <table cellspacing="0" class="x-btn x-btn-icon x-abs-layout-item" id="ext-comp-1034" style="left: 159px; top: 32px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-tc"></td>

                            <td class="x-btn-tr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-mc"><em class=""><button class=
                                                                          " x-btn-text icon-options" id="ext-gen206" type=
                                                                          "button"><em class=
                            "">&nbsp;</em>
                                </button>
                                </em>
                            </td>

                            <td class="x-btn-mr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-bc"></td>

                            <td class="x-btn-br" style="font-style: italic">
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>