    <div class=" x-panel x-tree x-border-panel" id="mpd-nav" style="width: 300px; left: 0px; top: 62px;">
        <div class="x-panel-header x-unselectable" id="ext-gen16" style="-moz-user-select: none;">
            <div class="x-tool x-tool-toggle x-tool-collapse-west" id="ext-gen20">
                &nbsp;
            </div>
            <img class="x-panel-inline-icon icon-group-unknown" src="ext/resources/images/default/s.gif" /><span class="x-panel-header-text" id="ext-gen19">Navigation</span>
        </div>

        <div class="x-panel-bwrap" id="ext-gen17">
            <div class="x-panel-body" id="ext-gen18" style="overflow: auto; width: 298px; height: 475px;">
                <div class="x-tree-root-ct x-tree-arrows" id="ext-gen21" style="margin-left: 2em">
                    <div class="x-tree-root-node">
                        <ul>
                            <li class="x-tree-node">
                                <div class="x-tree-node-el x-unselectable x-tree-node-collapsed">
                                    <img class="x-tree-ec-icon x-tree-elbow" src="ext/resources/images/default/s.gif" />
                                    <img class="x-tree-node-icon icon-group-playlist" src="ext/resources/images/default/s.gif" /><a class="x-tree-node-anchor" href="" tabindex="1"><span style=
                                                                   "font-weight: bold">Playlists</span></a>
                                </div>

                                <ul class="x-tree-node-ct" id="ext-gen256" style="position: static; visibility: visible; display: none; left: auto; top: auto; z-index: auto;">
                                </ul>
                            </li>

                            <li class="x-tree-node">
                                <div class="x-tree-node-el x-unselectable x-tree-node-expanded">
                                    <img class="x-tree-ec-icon x-tree-elbow-minus" src="ext/resources/images/default/s.gif" />
                                    <img class="x-tree-node-icon icon-group-album" src="ext/resources/images/default/s.gif" /><a class="x-tree-node-anchor" href="" tabindex="1"><span style=
                                                                   "font-weight: bold">Artist /
                                                Albums</span></a>
                                </div>

                                <ul class="x-tree-node-ct" id="ext-gen258" style="visibility: visible; position: static; display: block; left: auto; top: auto; z-index: auto;">
                                    <li class="x-tree-node">
                                        <div class="x-tree-node-el x-unselectable x-tree-node-expanded">
                                            <span class="x-tree-node-indent"><img class=
                                                                          "x-tree-elbow-line" src=
                                                                          "ext/resources/images/default/s.gif" /></span>
                                            <img class="x-tree-ec-icon x-tree-elbow-minus" src="ext/resources/images/default/s.gif" />
                                            <img class="x-tree-node-icon icon-group-artist" src="ext/resources/images/default/s.gif" /><a class="x-tree-node-anchor" href="" tabindex="1"><span style=
                                                                           "font-weight: bold">All
                                                        Artists</span></a>
                                        </div>

                                        <ul class="x-tree-node-ct" id="ext-gen450" style="visibility: visible; position: static; left: auto; top: auto; z-index: auto;">
                                            <li class="x-tree-node">
                                                <div class="x-tree-node-el x-unselectable x-tree-node-collapsed">
                                                    <span class="x-tree-node-indent">
                                                            <img class="x-tree-elbow-line" src="ext/resources/images/default/s.gif" />
                                                            <img class="x-tree-elbow-line"src="ext/resources/images/default/s.gif" />
                                                        </span>
                                                    <img class="x-tree-ec-icon x-tree-elbow-plus" src="ext/resources/images/default/s.gif" />
                                                    <img class="x-tree-node-icon icon-artist" src="ext/resources/images/default/s.gif" />
                                                    <a class="x-tree-node-anchor" href="" tabindex="1"><span>Amy Winehouse<span class="song-count">(4)</span></span></a>
                                                </div>
                                                <ul class="x-tree-node-ct" style="display:none;"></ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="x-tree-node">
                                        <div class="x-tree-node-el x-unselectable x-tree-node-collapsed">
                                            <span class="x-tree-node-indent"><img class=
                                                                          "x-tree-elbow-line" src=
                                                                          "ext/resources/images/default/s.gif" /></span>
                                            <img class="x-tree-ec-icon x-tree-elbow-plus" src="ext/resources/images/default/s.gif" />
                                            <img class="x-tree-node-icon icon-group-artist" src="ext/resources/images/default/s.gif" /><a class="x-tree-node-anchor" href="" tabindex="1"><span style=
                                                                           "font-weight: bold">Minimum 4
                                                        Songs</span></a>
                                        </div>

                                        <ul class="x-tree-node-ct" style="display:none;"></ul>
                                    </li>

                                    <li class="x-tree-node">
                                        <div class="x-tree-node-el x-unselectable x-tree-node-collapsed">
                                            <span class="x-tree-node-indent"><img class=
                                                                          "x-tree-elbow-line" src=
                                                                          "ext/resources/images/default/s.gif" /></span>
                                            <img class="x-tree-ec-icon x-tree-elbow-end-plus" src="ext/resources/images/default/s.gif" />
                                            <img class="x-tree-node-icon icon-group-artist" src="ext/resources/images/default/s.gif" /><a class="x-tree-node-anchor" href="" tabindex="1"><span style=
                                                                           "font-weight: bold">Minimum 10
                                                        Songs</span></a>
                                        </div>

                                        <ul class="x-tree-node-ct" style="display:none;"></ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="x-tree-node">
                                <div class="x-tree-node-el x-unselectable x-tree-node-collapsed">
                                    <img class="x-tree-ec-icon x-tree-elbow-plus" src="ext/resources/images/default/s.gif" />
                                    <img class="x-tree-node-icon icon-group-album" src="ext/resources/images/default/s.gif" /><a class="x-tree-node-anchor" href="" tabindex="1"><span style=
                                                                   "font-weight: bold">Genre / Artist /
                                                Album</span></a>
                                </div>

                                <ul class="x-tree-node-ct" style="display:none;"></ul>
                            </li>

                            <li class="x-tree-node">
                                <div class="x-tree-node-el x-unselectable x-tree-node-collapsed">
                                    <img class="x-tree-ec-icon x-tree-elbow-plus" src="ext/resources/images/default/s.gif" />
                                    <img class="x-tree-node-icon icon-directory" src="ext/resources/images/default/s.gif" /><a class="x-tree-node-anchor" href="" tabindex="1"><span style=
                                                                   "font-weight: bold">Folders</span></a>
                                </div>

                                <ul class="x-tree-node-ct" id="ext-gen352" style="visibility: visible; position: static; display: none; left: auto; top: auto; z-index: auto;">
                                    <li class="x-tree-node">
                                        <div class="x-tree-node-el x-tree-node-leaf x-unselectable">
                                            <span class="x-tree-node-indent"><img class="x-tree-elbow-line" src="ext/resources/images/default/s.gif" /></span>
                                            <img class="x-tree-ec-icon x-tree-elbow" src="ext/resources/images/default/s.gif" />
                                            <img class="x-tree-node-icon icon-directory" src="ext/resources/images/default/s.gif" />
                                            <a class="x-tree-node-anchor" href="" tabindex="1">
                                                <span>1999.NON SERVIUM-orgullo obrero(320kbps)</span>
                                            </a>
                                        </div>
                                        <ul class="x-tree-node-ct" style="display:none;"></ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="x-tree-node">
                                <div class="x-tree-node-el x-unselectable x-tree-node-collapsed">
                                    <img class="x-tree-ec-icon x-tree-elbow-end-plus" src="ext/resources/images/default/s.gif" />
                                    <img class="x-tree-node-icon icon-outputs" src="ext/resources/images/default/s.gif" /><a class="x-tree-node-anchor" href="" tabindex="1"><span style=
                                                                   "font-weight: bold">Outputs</span></a>
                                </div>

                                <ul class="x-tree-node-ct" style="display:none;"></ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>