    <div class=" x-panel x-border-panel" id="mpd-sidebar-wrapper" style="width: 376px; left: 1661px; top: 62px;">
        <div class="x-panel-bwrap" id="ext-gen25">
            <div class="x-panel-body x-panel-body-noheader" id="ext-gen26" style="width: 374px; height: 500px;">
                <div id="mpd-sidebar" style="width: 374px; height: 500px;">
                    <div class=" x-panel" id="playlistsidebar" style="width: auto;">
                        <div class="x-panel-header x-unselectable" id="ext-gen56" style="-moz-user-select: none; cursor: pointer;">
                            <div class="x-tool x-tool-gear" id="ext-gen62">
                                &nbsp;
                            </div>
                            <img class="x-panel-inline-icon icon-playlist" src="ext/resources/images/default/s.gif" /><span class="x-panel-header-text" id="ext-gen61">Playlist</span>
                        </div>

                        <div class="x-panel-bwrap" id="ext-gen57">
                            <div class="x-panel-tbar" id="ext-gen58" style="width: 374px;">
                                <div class="x-toolbar x-small-editor x-box-layout-ct" id="ext-comp-1054" style="width: 368px;">
                                    <div class="x-box-inner" id="ext-gen71" style="width: 368px; height: 22px;">
                                        <label class=" x-box-item" id="ext-comp-1055" style="font-weight: bold; width: 244px; height: 13px; left: 6px; top: 4.5px;">
                                            Untitled</label>

                                        <table cellspacing="0" class="x-btn x-btn-icon x-box-item" id="ext-comp-1056" style="left: 254px; top: 0px;">
                                            <tbody class="x-btn-small x-btn-icon-small-left">
                                                <tr>
                                                    <td class="x-btn-tl" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-tc"></td>

                                                    <td class="x-btn-tr" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="x-btn-ml" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-mc">
                                                        <em class=""><button class=
                                                                                 " x-btn-text icon-clear"
                                                                                 id="ext-gen72" type=
                                                                                 "button"><em class=
                                                    "">&nbsp;</em>
                                                        </button>
                                                        </em>
                                                    </td>

                                                    <td class="x-btn-mr" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="x-btn-bl" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-bc"></td>

                                                    <td class="x-btn-br" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table cellspacing="0" class="x-btn x-btn-icon x-box-item" id="ext-comp-1057" style="left: 276px; top: 0px;">
                                            <tbody class="x-btn-small x-btn-icon-small-left">
                                                <tr>
                                                    <td class="x-btn-tl" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-tc"></td>

                                                    <td class="x-btn-tr" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="x-btn-ml" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-mc">
                                                        <em class=""><button class=
                                                                                 " x-btn-text icon-directory-open"
                                                                                 id="ext-gen73" type=
                                                                                 "button"><em class=
                                                    "">&nbsp;</em>
                                                        </button>
                                                        </em>
                                                    </td>

                                                    <td class="x-btn-mr" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="x-btn-bl" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-bc"></td>

                                                    <td class="x-btn-br" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table cellspacing="0" class="x-btn x-btn-icon x-box-item" id="ext-comp-1058" style="left: 298px; top: 0px;">
                                            <tbody class="x-btn-small x-btn-icon-small-left">
                                                <tr>
                                                    <td class="x-btn-tl" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-tc"></td>

                                                    <td class="x-btn-tr" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="x-btn-ml" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-mc">
                                                        <em class=""><button class=
                                                                                 " x-btn-text icon-save" id=
                                                                                 "ext-gen74" type=
                                                                                 "button"><em class=
                                                    "">&nbsp;</em>
                                                        </button>
                                                        </em>
                                                    </td>

                                                    <td class="x-btn-mr" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="x-btn-bl" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-bc"></td>

                                                    <td class="x-btn-br" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table cellspacing="0" class="x-btn x-btn-icon x-box-item" id="ext-comp-1059" style="left: 320px; top: 0px;">
                                            <tbody class="x-btn-small x-btn-icon-small-left">
                                                <tr>
                                                    <td class="x-btn-tl" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-tc"></td>

                                                    <td class="x-btn-tr" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="x-btn-ml" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-mc">
                                                        <em class=""><button class=
                                                                                 " x-btn-text icon-add-url"
                                                                                 id="ext-gen75" type=
                                                                                 "button"><em class=
                                                    "">&nbsp;</em>
                                                        </button>
                                                        </em>
                                                    </td>

                                                    <td class="x-btn-mr" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="x-btn-bl" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-bc"></td>

                                                    <td class="x-btn-br" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table><span class="xtb-sep x-box-item" id="ext-gen76" style="left: 342px; top: 3px;"></span>

                                        <table cellspacing="0" class="x-btn x-btn-icon x-box-item" id="ext-comp-1064" style="left: 346px; top: 0px;">
                                            <tbody class="x-btn-small x-btn-icon-small-left">
                                                <tr>
                                                    <td class="x-btn-tl" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-tc"></td>

                                                    <td class="x-btn-tr" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="x-btn-ml" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-mc">
                                                        <em class=""><button class=
                                                                                 " x-btn-text icon-search"
                                                                                 id="ext-gen77" type=
                                                                                 "button"><em class=
                                                    "">&nbsp;</em>
                                                        </button>
                                                        </em>
                                                    </td>

                                                    <td class="x-btn-mr" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="x-btn-bl" style="font-style: italic">
                                                        &nbsp;</td>

                                                    <td class="x-btn-bc"></td>

                                                    <td class="x-btn-br" style="font-style: italic">
                                                        &nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="x-toolbar x-small-editor x-box-layout-ct" id="ext-comp-1062">
                                    <div class="x-box-inner" id="ext-gen66" style="width: 237px; height: 20px;">
                                        <label class=" x-box-item" id="ext-comp-1063" style="left: 2px; top: 0px;">Filter:</label>

                                        <div class="x-form-field-wrap x-form-field-trigger-wrap x-box-item" id="ext-gen67" style="width: 200px; left: 35px; top: 0px;">
                                            <input autocomplete="off" class="x-form-text x-form-field" id="ext-comp-1061" name="ext-comp-1061" size="16" style="width: 175px;" type="text" /><span class="x-form-twin-triggers" id="ext-gen68"><img class=
                                                                 "x-form-trigger x-form-clear-trigger"
                                                                 id="ext-gen69" src=
                                                                 "ext/resources/images/default/s.gif"
                                                                 style=
                                                                 "display: none;" /><img class="x-form-trigger x-form-search-trigger"
                                                                 id="ext-gen70" src=
                                                                 "ext/resources/images/default/s.gif" /></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="x-panel-body" id="ext-gen59" style="width: auto; height: 341px;">
                                <div class="x-list-wrap albums" id="ext-comp-1039" style="width: 372px; height: 341px;">
                                    <div class="x-list-header">
                                        <div class="x-list-header-inner" id="ext-gen119" style="width: 372px;">
                                            <div style="width:100%;text-align:left;">
                                                <em id="ext-comp-1039-xlhd-1">Song</em>
                                            </div>

                                            <div class="x-clear"></div>
                                        </div>
                                    </div>

                                    <div class="x-list-body" style="height: 319px;">
                                        <div class="x-list-body-inner" id="ext-gen118" style="width: 372px;">
                                            <dl class="">
                                                <dd>
                                                    <div class="x-toolbar album-group-start" style="height:30px;padding-left:4px">
                                                        <em><b style=
                                                                   "white-space:nowrap !important;">
                                                                    Boikotea!!!
                                                                    (Live)</b><br />
                                                                <i>Boikot</i></em>
                                                    </div>

                                                    <div class="x-clear"></div>
                                                </dd>
                                            </dl>

                                            <dl class="x-list-selected">
                                                <dd>
                                                    <div class="remove album-group-track" id="0">
                                                        <em>1.</em>
                                                    </div>
                                                </dd>

                                                <dd>
                                                    <div id="ext-gen470">
                                                        <em>Inés (Live)</em>
                                                    </div>

                                                    <div class="x-clear"></div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="x-panel-bbar" id="ext-gen60" style="width: 374px;">
                                <div class="x-toolbar x-small-editor x-toolbar-layout-ct" id="ext-comp-1042" style="width: 368px;">
                                    <table cellspacing="0" class="x-toolbar-ct">
                                        <tbody>
                                            <tr>
                                                <td align="left" class="x-toolbar-left">
                                                    <table cellspacing="0">
                                                        <tbody>
                                                            <tr class="x-toolbar-left-row">
                                                                <td class="x-toolbar-cell" id="ext-gen78">
                                                                    <table cellspacing="0" class="x-btn x-btn-icon x-item-disabled" id="ext-comp-1043">
                                                                        <tbody class="x-btn-small x-btn-icon-small-left">
                                                                            <tr>
                                                                                <td class="x-btn-tl" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-tc">
                                                                                </td>

                                                                                <td class="x-btn-tr" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="x-btn-ml" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-mc">
                                                                                    <em class="">
                                                                                            <button class=" x-btn-text x-tbar-page-first"
                                                                                                    id="ext-gen79"
                                                                                                    type="button">
                                                                                                <em class="">
                                                                                                    &nbsp;</em>
                                                                                    </button>
                                                                                    </em>
                                                                                </td>

                                                                                <td class="x-btn-mr" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="x-btn-bl" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-bc">
                                                                                </td>

                                                                                <td class="x-btn-br" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>

                                                                <td class="x-toolbar-cell" id="ext-gen80">
                                                                    <table cellspacing="0" class="x-btn x-btn-icon x-item-disabled" id="ext-comp-1044">
                                                                        <tbody class="x-btn-small x-btn-icon-small-left">
                                                                            <tr>
                                                                                <td class="x-btn-tl" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-tc">
                                                                                </td>

                                                                                <td class="x-btn-tr" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="x-btn-ml" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-mc">
                                                                                    <em class="">
                                                                                            <button class=" x-btn-text x-tbar-page-prev"
                                                                                                    id="ext-gen81"
                                                                                                    type="button">
                                                                                                <em class="">
                                                                                                    &nbsp;</em>
                                                                                    </button>
                                                                                    </em>
                                                                                </td>

                                                                                <td class="x-btn-mr" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="x-btn-bl" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-bc">
                                                                                </td>

                                                                                <td class="x-btn-br" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>

                                                                <td class="x-toolbar-cell" id="ext-gen82">
                                                                    <span class="xtb-sep" id="ext-gen83"></span>
                                                                </td>

                                                                <td class="x-toolbar-cell" id="ext-gen84">
                                                                    <div class="xtb-text" id="ext-comp-1051">
                                                                        Page
                                                                    </div>
                                                                </td>

                                                                <td class="x-toolbar-cell" id="ext-gen85">
                                                                    <input autocomplete="off" class="x-form-text x-form-field x-form-num-field x-tbar-page-number" id="ext-comp-1045" size="20" type="text" />
                                                                </td>

                                                                <td class="x-toolbar-cell" id="ext-gen86">
                                                                    <div class="xtb-text" id="ext-comp-1046">
                                                                        of 1
                                                                    </div>
                                                                </td>

                                                                <td class="x-toolbar-cell" id="ext-gen87">
                                                                    <span class="xtb-sep" id="ext-gen88"></span>
                                                                </td>

                                                                <td class="x-toolbar-cell" id="ext-gen89">
                                                                    <table cellspacing="0" class="x-btn x-btn-icon x-item-disabled" id="ext-comp-1047">
                                                                        <tbody class="x-btn-small x-btn-icon-small-left">
                                                                            <tr>
                                                                                <td class="x-btn-tl" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-tc">
                                                                                </td>

                                                                                <td class="x-btn-tr" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="x-btn-ml" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-mc">
                                                                                    <em class="">
                                                                                            <button class=" x-btn-text x-tbar-page-next"
                                                                                                    id="ext-gen90"
                                                                                                    type="button">
                                                                                                <em class="">
                                                                                                    &nbsp;</em>
                                                                                    </button>
                                                                                    </em>
                                                                                </td>

                                                                                <td class="x-btn-mr" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="x-btn-bl" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-bc">
                                                                                </td>

                                                                                <td class="x-btn-br" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>

                                                                <td class="x-toolbar-cell" id="ext-gen91">
                                                                    <table cellspacing="0" class="x-btn x-btn-icon x-item-disabled" id="ext-comp-1048">
                                                                        <tbody class="x-btn-small x-btn-icon-small-left">
                                                                            <tr>
                                                                                <td class="x-btn-tl" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-tc">
                                                                                </td>

                                                                                <td class="x-btn-tr" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="x-btn-ml" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-mc">
                                                                                    <em class="">
                                                                                            <button class=" x-btn-text x-tbar-page-last"
                                                                                                    id="ext-gen92"
                                                                                                    type="button">
                                                                                                <em class="">
                                                                                                    &nbsp;</em>
                                                                                    </button>
                                                                                    </em>
                                                                                </td>

                                                                                <td class="x-btn-mr" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="x-btn-bl" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-bc">
                                                                                </td>

                                                                                <td class="x-btn-br" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>

                                                                <td class="x-toolbar-cell" id="ext-gen93">
                                                                    <span class="xtb-sep" id="ext-gen94"></span>
                                                                </td>

                                                                <td class="x-toolbar-cell x-hide-display" id="ext-gen95">
                                                                    <table cellspacing="0" class="x-btn x-btn-icon" id="ext-comp-1049">
                                                                        <tbody class="x-btn-small x-btn-icon-small-left">
                                                                            <tr>
                                                                                <td class="x-btn-tl" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-tc">
                                                                                </td>

                                                                                <td class="x-btn-tr" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="x-btn-ml" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-mc">
                                                                                    <em class="">
                                                                                            <button class=" x-btn-text x-tbar-loading"
                                                                                                    id="ext-gen96"
                                                                                                    type="button">
                                                                                                <em class="">
                                                                                                    &nbsp;</em>
                                                                                    </button>
                                                                                    </em>
                                                                                </td>

                                                                                <td class="x-btn-mr" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td class="x-btn-bl" style="font-style: italic">
                                                                                    &nbsp;</td>

                                                                                <td class="x-btn-bc">
                                                                                </td>

                                                                                <td class="x-btn-br" style="font-style: italic">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                                <td align="right" class="x-toolbar-right">
                                                    <table cellspacing="0" class="x-toolbar-right-ct">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table cellspacing="0">
                                                                        <tbody>
                                                                            <tr class="x-toolbar-right-row">
                                                                                <td>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>

                                                                <td>
                                                                    <table cellspacing="0">
                                                                        <tbody>
                                                                            <tr class="x-toolbar-extras-row">
                                                                                <td>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="x-panel x-panel-collapsed" id="infopanel" style="width: auto;">
                        <div class="x-panel-header x-unselectable" id="ext-gen98" style="-moz-user-select: none; cursor: pointer;">
                            <img class="x-panel-inline-icon icon-cover" src="ext/resources/images/default/s.gif" /><span class="x-panel-header-text" id="ext-gen101">Cover &amp;
                                    Lyrics</span>
                        </div>

                        <div class="x-panel-bwrap" id="ext-gen99" style="display: none;">
                            <div class="x-panel-body" id="ext-gen100" style="overflow: auto;"></div>
                        </div>
                    </div>

                    <div class="x-panel x-grid-panel x-panel-collapsed" id="tageditor" style="width: auto;">
                        <div class="x-panel-header x-unselectable" id="ext-gen103" style="-moz-user-select: none; cursor: pointer;">
                            <img class="x-panel-inline-icon icon-edit-tags" src="ext/resources/images/default/s.gif" /><span class="x-panel-header-text" id="ext-gen106">Edit Tags</span>
                        </div>

                        <div class="x-panel-bwrap" id="ext-gen104" style="display: none;">
                            <div class="x-panel-body x-props-grid" id="ext-gen105">
                                <div class="x-grid3" id="ext-gen108">
                                    <div class="x-grid3-viewport" id="ext-gen109">
                                        <div class="x-grid3-header" id="ext-gen110">
                                            <div class="x-grid3-header-inner" id="ext-gen116">
                                                <div class="x-grid3-header-offset" style="width:240px;">
                                                    <table border="0" cellpadding="0" cellspacing="0" style="width:220px;">
                                                        <thead>
                                                            <tr class="x-grid3-hd-row">
                                                                <td class="x-grid3-hd x-grid3-cell x-grid3-td-name x-grid3-cell-first sort-asc" style="width:108px;">
                                                                    <div class="x-grid3-hd-inner x-grid3-hd-name" style="">
                                                                        Name
                                                                        <img class="x-grid3-sort-icon" src="ext/resources/images/default/s.gif" />
                                                                    </div>
                                                                </td>

                                                                <td class="x-grid3-hd x-grid3-cell x-grid3-td-value x-grid3-cell-last" style="width:108px;">
                                                                    <div class="x-grid3-hd-inner x-grid3-hd-value" style="">
                                                                        Value
                                                                        <img class="x-grid3-sort-icon" src="ext/resources/images/default/s.gif" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="x-clear"></div>
                                        </div>

                                        <div class="x-grid3-scroller" id="ext-gen111" style="overflow-x: hidden;">
                                            <div class="x-grid3-body" id="ext-gen112" style="width:220px;">
                                                &nbsp;
                                            </div>
                                            <a class="x-grid3-focus" href="#" id="ext-gen113" tabindex="-1"></a>
                                        </div>
                                    </div>

                                    <div class="x-grid3-resize-marker" id="ext-gen114">
                                        &nbsp;
                                    </div>

                                    <div class="x-grid3-resize-proxy" id="ext-gen115">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>