/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 10%;
    width: 90%;
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(left, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
    background: linear-gradient(to right, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 */
}

/** Sidebar */
/* Hide for mobile, show later */
@media (min-width: 768px) {
  .sidebar {
    bottom: -20;left: 5;z-index: 1000;display: block;padding: 10px; 
    background-color: transparent;border-right: 1px solid #eee;
  }
}
.panel{position:fixed;  top: 60px;}
/* Sidebar navigation */
.nav-sidebar {margin-right: -21px; margin-bottom: 5px;margin-left: -20px;}
.nav-sidebar li a {padding-right: 20px;padding-left: 20px;}
.nav-sidebar .active a {color: #fff;}

.well{border-radius: 10px; padding-left: 0px;padding-right: 0px }
.navbar-inverse {background-color: transparent;border-color: transparent;}
body {
    
}
.player-button{width:40px;height: 40px}
.player-slider{width:100%;background-color: transparent;border-style: none; padding-left: 120px;padding-right: 120px}

.player-volume{padding-top: 5px}
.volume-background{position: absolute;top: 20px;left: 15px;}
button {padding-top: 20px;line-height: 0.5;background-color: transparent;border-style: none}

.panel-body{padding:0px;overflow-x: auto;overflow-y: auto;
    height:85%;}
.list-group {margin-bottom: 0px}
.player-button button, div span{
    font-size: 28px;
}
.navbar-right{padding-right: 10px}

.artist-list {padding: 0em;}
.disk-list {margin-left: 4em;}
.song-list {margin-left: 8em;}
.library-element {position:relative;top:0;bottom:0;padding-bottom: 7px;}
.library-element  {list-style-type: none;}
.library-element a {padding:0 0 0 10px;position: relative;top:1em;}
.library-element a:hover {text-decoration: none;}
.library-element a.addBorderBefore:before {content: "";display: inline-block;width: 2px;height: 28px;position: absolute;left: -47px;top:-16px;border-left: 1px solid gray;}
.library-element:before {content: "";display: inline-block;width: 25px;height: 0;position: relative;left: 0em;top:1em;border-top: 1px solid gray;}
.library-element:last-child:after {content: '';display: block;width: 1em;height: 1em;position: relative;background: #fff;top: 9px; left: -1px;}