    <div class="column player-button">
        <button  class="icon-play" type="button"> </button>
    </div>
    <div class="column player-button">
        <button  class="icon-pre" type="button"> </button>
    </div>
    <div class="player-slider columns">
        <div class="row"><p class="text-center">cancion</p></div>
        <div class="row">
        <div class="range-slider round" data-slider>
            <span class="range-slider-handle"></span>
            <span class="range-slider-active-segment"></span> 
            <input type="hidden"> 
        </div>
        </div>
    </div>
    <div class="player-button columns">
        <button  class="icon-next" type="button"> </button>
    </div>
    <div class="columns">
        <div class="range-slider round" data-slider data-options="vertical: true">
            <span class="range-slider-handle"></span>
            <span class="range-slider-active-segment"></span> 
            <input type="hidden"> 
        </div>
    </div>

<div class="controls" style="display:none"  >
        <div class="x-box-inner" >
            
            <div class=" x-box-item" id="ext-comp-1035" style="width: 190px; height: 62px; left: 1843px; top: 0px;">
                <table cellspacing="0" class="x-btn x-toolbar-standardbutton x-btn-noicon x-abs-layout-item" id="ext-comp-1031" style="width: 140px; left: 10px; top: 4px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">&nbsp;</td>
                            <td class="x-btn-tc"></td>
                            <td class="x-btn-tr" style="font-style: italic">&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">&nbsp;</td>
                            <td class="x-btn-mc">
                                <em class="x-btn-arrow">
                                        <button class=" x-btn-text" id="ext-gen200" type="button">
                                            <em class="x-btn-arrow">Theme Chooser</em>
                                </button>
                                </em>
                            </td>
                            <td class="x-btn-mr" style="font-style: italic">&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-bc"></td>

                            <td class="x-btn-br" style="font-style: italic">
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <div class="x-form-field-wrap x-form-field-trigger-wrap x-abs-layout-item" id="ext-gen201" style="width: 140px; left: 10px; top: 32px;">
                    <input autocomplete="off" class="x-form-text x-form-field x-form-empty-field" id="ext-comp-1032" name="ext-comp-1032" size="16" style="width: 115px;" type="text" /><span class="x-form-twin-triggers" id="ext-gen202"><img class=
                                                                    "x-form-trigger x-form-clear-trigger" id="ext-gen203" src=
                                                                    "ext/resources/images/default/s.gif" style=
                                                                    "display: none;" /><img class=
                                                                    "x-form-trigger x-form-search-trigger" id="ext-gen204" src=
                                                                    "ext/resources/images/default/s.gif" /></span>
                </div>

                <table cellspacing="0" class="x-btn x-btn-icon x-abs-layout-item" id="ext-comp-1033" style="left: 155px; top: 1px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-tc"></td>

                            <td class="x-btn-tr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-mc"><em class=""><button class=
                                                                          " x-btn-text icon-about" id="ext-gen205" type=
                                                                          "button"><em class=
                            "">&nbsp;</em>
                                </button>
                                </em>
                            </td>

                            <td class="x-btn-mr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-bc"></td>

                            <td class="x-btn-br" style="font-style: italic">
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <table cellspacing="0" class="x-btn x-btn-icon x-abs-layout-item" id="ext-comp-1034" style="left: 159px; top: 32px;">
                    <tbody class="x-btn-small x-btn-icon-small-left">
                        <tr>
                            <td class="x-btn-tl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-tc"></td>

                            <td class="x-btn-tr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-ml" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-mc"><em class=""><button class=
                                                                          " x-btn-text icon-options" id="ext-gen206" type=
                                                                          "button"><em class=
                            "">&nbsp;</em>
                                </button>
                                </em>
                            </td>

                            <td class="x-btn-mr" style="font-style: italic">
                                &nbsp;</td>
                        </tr>

                        <tr>
                            <td class="x-btn-bl" style="font-style: italic">
                                &nbsp;</td>

                            <td class="x-btn-bc"></td>

                            <td class="x-btn-br" style="font-style: italic">
                                &nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>