{% extends 'AdmingeneratorGeneratorBundle::base_admin_assetic_less.html.twig' %}

{% block navbar %}
    {% include 'TabernicolaJukeCloudAdminBundle:admin:admin_menu.html.twig' %}
{% endblock navbar %}

 {% block body %}
    <div class="row well">
        <div class="col-md-5"></div>
        <div class="col-md-2">Admin</div>
        <div class="col-md-5"></div>
    </div>
{% endblock %}